.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-xsmall);
    padding: 0.5em;
}

.wrapper > * {
    display: block;
    margin-top: 0.70em;
}

.wrapper > *:first-child {
    margin-top: 0em;
}

.wrapper > *:last-child {
    margin-bottom: 0em;
}