.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20%;
    display: flex;
    width: 100%;
}

.modal {
    border: 0.2em solid #b9b91c;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffca
}

.typeSign::before {
    
}

/* .typeSignBackground {
    position: relative;
    border: 0.2em solid #b9b91c;
    width: 4em;
    height: 4em;
    top: -0.2em;
    margin-top: -2em;
    border-radius: 100%;
    background-color: #ffffca;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
} */

/* 
 */

.warning {
    background: url('./assets/exclamation-mark.png');
    background-size: cover;
}

.success {
    background: url('./assets/success.png');
    background-size: cover;
}