.input {
    font-size: inherit;
    width: -webkit-fill-available;
    padding: 0.5em;
    border: 2px solid;
}

.asterixMessage {
    font-size: 0.7em;
    display: flex;
    flex-direction: row;
}

.asterixMessage span {
    margin-right: 0.3em;
}

.warning {
    color: #ffc107;
}

.error {
    color: #dc3545;
}

.submitBtn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0.5em;
    text-align: center;
    border: 5px solid;
    color: white;
    margin-top: 2em;
}

.disabled {
    background-color: #6c757d;
    border-color: #343a40;
}

.available {
    background-color: #4285F4;
    border-color: #0d47a1;
}

.warningBtn {
    background-color: #ffbb33;
    border-color: #ff8800;
}