.outer {
    background-color: #282c34;
    display: flex;
    font-size: calc(10px + 3vmin);
    justify-content: center;
    min-height: 100vh;
}

.inner {
    background: #fffaf2;
    width: 100%;
}