body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-big: 64px;
  --font-middle: 32px;
  --font-small: 24px;
  --font-xsmall: 16px;

  --color-lighgreen: #26a266;
  --color-green: #1F8453;
  --color-darkgreen: #16653e;
}