body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-big: 64px;
  --font-middle: 32px;
  --font-small: 24px;
  --font-xsmall: 16px;
}