.contentWrapper {

}

.contentWrapper input {
    font-size: 1em;
    width: 100%;
}

.inputWrapper {
    display: flex;
    font-size: var(--font-xsmall);
    width: 100%;
}

.inputWrapper label {
    margin-right: 0.3em;
}

.inputWrapper textarea, .inputWrapper input {
    /* font-family: inherit; */
    /* width: 100%; */
}

.bordered {
    border: 1px solid;
}

.checkboxButton {
    width: 3em;
    border: 1px solid;
    border-left: 0px;
}

.green {
    background-color: #2fc77e;
}

.red {
    background-color: #e83067;
}

.grey {
    background-color: #989898;
}

.addBtn {
    margin: 1em 0em 0em 0em;
    width: 100%;
}

.removeBtn {
    color: red;
    border-color: red;
    margin-left: 2px;
}

.sideBtn {
    width: 4em;
}