.contentWrapper input {
    font-size: 1em;
    width: 100%;
}

.inputWrapper {
    display: flex;
    font-size: var(--font-xsmall);
    width: 100%;
}

.inputWrapper label {
    margin-right: 0.3em;
}

.bordered {
    border: 1px solid;
}

.answerLabel {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.details {
    width: 100%;
}

.boldText {
    font-weight: bold;
}